<form action="">
    <label for="main-header">Hlavný nadpis</label>
    <label for="sub-header">Podnadpis</label>
    <input type="text" name="sub-header">

    <button type="submit">Add Article</button>
</form>