{{#if article}}
    {{#each article}}
        <div>
            <h1>{{{title}}}</h1>
            <div>{{{body}}}</div>
        </div>
        {{#each images}}
            <img src="{{path}}" >
        {{/each}}
    {{/each}}
{{/if}}