<h2 class="page-header">News</h2>
<p>Welcome on Helicopter 117 administrator {{user.username}}!</p>
<form action="/image" method="POST" enctype="multipart/form-data">

    <!--<label for="image-upload" class="btn btn-default">-->
        <!--Custom Upload-->
    <!--</label>-->
    <input id="image-upload" type="file" name="myimage" >
    <button type="submit" class="btn btn-default">Submit</button>
</form>
