<form action="/articles/new" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <h3>Hlavn치 str치nka</h3>
    <label for="title">Nadpis</label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="mainText">Popis</label>
    <br>
    <textarea name="mainText"></textarea>
    <br>
    <input type="hidden" name="dateOfCreate">
    <h2>Detail:</h2>
    <br>
    <div id="element" name="element" contenteditable="true">

    </div>
    <br>
    <select>
        <option value="add" selected="selected">Prida콘</option>
        <option value="subtitle">Podnadpis</option>
        <option value="text">Text</option>
        <option value="image">Obr치zok</option>
    </select>
    <br>
    <br>
    <button type="submit">Add Article</button>

</form>

<script>
    var today = new Date();
    var dd = today.getDate();
    if(dd<10)dd="0"+dd;
    var mm = today.getMonth()+1;
    if(mm<10)mm="0"+mm;
    var yyyy = today.getFullYear();
    var date = dd+"-"+mm+"-"+yyyy;
    $("input[name='dateOfCreate']").val(date);

    function getId(){

    }

    $( "select" )
            .change(function () {
                $( "select option:selected" ).each(function() {
                    switch(this.value){
                        case "add":

                            break;
                        case "subtitle":

                            $("select").val("add");
                            $('<label/>', {
                                for: 'h2'
                            }).text("Podnadpis").appendTo('#element');
                            $('<br/>').appendTo('#element');
                            $('<input/>',{
                                type: "text",
                                name: "h2"
                            }).appendTo('#element');
                            $('<br/>').appendTo('#element');

                            break;
                        case "text":
                            $("select").val("add");
                            $('<label/>', {
                                for: 'p'
                            }).text("Popis").appendTo('#element');
                            $('<br/>').appendTo('#element');
                            $('<textarea/>',{
                                name: "p"
                            }).appendTo('#element');
                            $('<br/>').appendTo('#element');
                            break;
                        case "image":
                            $("select").val("add");
                            $('<label/>', {
                                for: 'img',
                                class: 'custom-file-upload btn btn-default'
                            }).text("Choose Image").appendTo('#element');
                            $('<br/>').appendTo('#element');
                            $('<input/>',{
                                id:"image-upload",
                                type:"file",
                                name:"img"
                            }).appendTo('#element');
                            $('<br/>').appendTo('#element');
                            break;

                    }
                });
            })
            .change();
    $('button').on('click',function () {
        var formData = JSON.stringify($("form").serializeArray());
        alert(formData);
    });
</script>