<h2 class="page-header">Register</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            {{msg}}
        </div>
    {{/each}}
{{/if}}
<form action="/users/register" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="rePassword">Re-Password</label>
        <input name="rePassword" type="password" class="form-control" placeholder="Re-Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>